@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    background-color: black;
    color:white;
    padding: 1em;
    height : 60px;
    width:120px;
    text-align: center;
    border-radius: 10px;
}